.info-row {
  overflow: hidden;
}
.info-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding: 5px 0

}

.info-row span:first-child {
  font-weight: bold
}
.action-btn:not(:last-child) {
  margin-inline-end: 10px;
}

.modal {
  background: rgba(90, 90, 90, 0.61);
}

.modal-dialog {
  margin-top: 200px;
}
