<section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
  <div class="container">
    <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.title</h1>
    <h3 class="txt-black txt-md" translate>privacy_policy.description</h3>
  </div>
</section>
<section class="md-ver-spc search-inputs  section min-height-vh normal-page">
  <div class="container">
    <div class="wrapper-bx md-mar-bot">
      <div class="row">
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.security</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.security_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.using</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.using_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.sharing</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.sharing_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.accessing</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.accessing_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.Securing</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.Securing_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.cookies</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.cookies_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.enforcement</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.enforcement_body</p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>privacy_policy.changes</h4>
        <hr class="x-hidden-focus">
        <p style="text-align: justify;" translate>privacy_policy.changes_body</p>
      </div>
    </div>
  </div>
</section>
