<section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
  <div class="container">
    <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" [innerHTML]="'terms_condition.title' | translate"></h1>
    <h3 class="txt-black txt-md" [innerHTML]="'terms_condition.description' | translate"></h3>
  </div>
</section>
<section class="md-ver-spc search-inputs section min-height-vh normal-page">
  <div class="container">
    <h3 [innerHTML]="'terms_condition.body' | translate"></h3>
    <div class="wrapper-bx md-mar-bot">
      <div class="row">
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.definitions</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.definitions_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.legitimate</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.legitimate_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.Content</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.Content_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.Services</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.Services_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.application</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.application_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.payment</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.payment_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.responsibility</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.responsibility_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.indemnities</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.indemnities_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.termination</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.termination_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.communication</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.communication_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.validity</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.validity_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.general</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.general_body' | translate"></p>
        <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right" translate>terms_condition.profile</h4>
        <hr class="x-hidden-focus">
        <p [innerHTML]="'terms_condition.profile_body' | translate"></p>
        <h3 [innerHTML]="'terms_condition.note' | translate"></h3>
      </div>
    </div>
  </div>
</section>
