<!-- row -->
<div class="row lr-mar result-cards">
  <div class="full-view">
    <ng-container *ngFor="let product of products;let i = index">
      <div *ngIf="product.productPrice > 0">
        <article class="over-hidden md-mar-bot" style="max-width: 1550px; margin-left: auto; margin-right: auto;">
          <app-product
          [product]="product"
          [quotationRequestId]="quotationRequestId"
          (getCompany)="sendCompanyId($event)"
          [companyInfo]="companyInfo"
          (addProductToCompare)="productsComparison($event)"
          (deletedProduct)="deleteProduct($event)"
          (getCheckout)="getCheckout = $event"
          [comparProducts]="comparProducts"></app-product>
        </article>
      </div>
    </ng-container>
    <div class="loader" *ngIf="!isDone && products?.length === 0">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
    <div class="products-spinner" *ngIf="!isDone && products?.length !== 0">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
    <article class="over-hidden md-mar-bot dummy" *ngIf="isDone && products?.length === 0">
      <div class="overlay"></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="no-offers">
              <h2 class="txt-xl" translate>quotation.no_offers</h2>
          </div>
        </div>
      </div>
  </article>
  </div>
</div>
<!-- row -->
<app-loader *ngIf="getCheckout"></app-loader>
<app-comparison
[comparProducts]="comparProducts"
[quotationRequestId]="quotationRequestId"
(deletedProduct)="deleteProduct($event)"></app-comparison>
