<div class="row">
  <div class="col-lg-12">
    <div class="panel-heading">
      <div class="text-right">
        <a href="#" translate>common.export</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th translate>common.sN</th>
                <th translate>logs.username</th>
                <th translate>logs.ip</th>
                <th translate>logs.description</th>
                <th translate>common.status</th>
                <th translate>common.date</th>
                <th translate>logs.exportTime</th>
                <th translate>logs.userType</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
