a {
  cursor: pointer;
}

.status-txt {
  display: inline-block;
  color: #22d022;
  font-weight: bold
}
.not-active {
  pointer-events: none;
}
.required-mark {
  position: relative
}
.required-mark:after {
  content: '*';
  color: red
}