<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>{{isEditUser ? 'user.editUser' : 'user.addUser'}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" [appMustMatch]="['password', 'confirmPassword']" novalidate>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" [ngClass]="displayFieldCss(userName)">
              <label for="userName" class="control-label required" translate>user.name</label>
              <input type="text" class="form-control" id="userName" required [(ngModel)]="user.Name" name="userName"
                #userName="ngModel">
              <div *ngIf="submitted && userName.errors">
                <div class="error-msg" *ngIf="userName.errors['required']" translate>user.name_required</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" [ngClass]="displayFieldCss(email)">
              <label for="email" class="control-label required" translate>login.email</label>
              <input type="email" class="form-control" id="email" email required [(ngModel)]="user.Email" name="email"
                #email="ngModel">
              <div *ngIf="submitted && email.errors">
                <div class="error-msg" *ngIf="email.errors['required']" translate>login.email_required</div>
                <div class="error-msg" *ngIf="email.errors['email']" translate>login.email_invalid</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6" *ngIf="!isEditUser">
            <div class="form-group" [ngClass]="displayFieldCss(password)">
              <label for="password" class="control-label required" translate>login.password</label>
              <input type="password" class="form-control" id="password" required [(ngModel)]="user.Password" name="password"
                #password="ngModel">
              <div *ngIf="submitted && password.errors">
                <div class="error-msg" *ngIf="password.errors['required']" translate>login.password_required</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6" *ngIf="!isEditUser">
            <div class="form-group" [ngClass]="displayFieldCss(confirmPassword)">
              <label for="confirmPassword" class="control-label required" translate>login.confirmPassword</label>
              <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="user.ConfirmPassword"
                name="confirmPassword" #confirmPassword="ngModel">
              <div *ngIf="submitted && confirmPassword.errors">
                <div class="error-msg" *ngIf="confirmPassword.errors['required']" translate>login.password_required</div>
                <div class="error-msg" *ngIf="confirmPassword.errors['mustMatch']" translate>login.password_invalid</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" [ngClass]="displayFieldCss(company)">
              <label for="company" class="control-label required" translate>requests.companyName</label>
              <select class="form-control" id="company" required [(ngModel)]="user.CompanyId" name="company"
                #company="ngModel">
                <option *ngFor="let company of companies | async" [value]="company.id">{{company.name}}</option>
              </select>
              <div *ngIf="submitted && company.errors">
                <div class="error-msg" *ngIf="company.errors['required']" translate>user.company_required</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" [ngClass]="displayFieldCss(PhoneNumber)">
              <label for="PhoneNumber" class="control-label required" translate>login.PhoneNumber</label>
              <input type="PhoneNumber" class="form-control" id="PhoneNumber" required [(ngModel)]="user.PhoneNumber" name="PhoneNumber"
                #PhoneNumber="ngModel">
              <div *ngIf="submitted && PhoneNumber.errors">
                <div class="error-msg" *ngIf="PhoneNumber.errors['required']" translate>login.PhoneNumber_required</div>
                <div class="error-msg" *ngIf="PhoneNumber.errors['PhoneNumber']" translate>login.PhoneNumber_invalid</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <button type="button" routerLink="/s/users" class="btn btn-default mr-r_s" translate>common.back</button>
              <button type="submit" class="btn btn-primary" translate>{{isEditUser ? 'user.edit' : 'user.add'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
