<!-- <div class="col-xs-12 col-lg-12 col-md-12" style="margin-top: 3em;">
  <label for="checkTplAgree" style="clear: both;display: flex;padding-top: 20px;align-items: center;">
    <div class="col-xs-3 col-lg-1 col-md-1 checkbox-holder">
      <input type="checkbox" onchange="checkAgreeFunc(this)" id="checkTplAgree" style="display:block !important">
    </div>
    <div class="col-xs-9 col-md-11 txt-justify">
      <h4>بالنقر أقر بالإطلاع على <a href="../Home/TermsCondition" target="_blank" rel="noopener">شروط وثيقة التأمين</a>
        والموافقة عليها وعدم رغبتي بالتأمين الشامل، دون أدنى مسئولية علي #تأمينك</h4>
    </div>
  </label>
</div> -->


<div class="col-xs-12 lr-mar">
    <label for="checkTPLAgreement" class="agreement-container">
      <div class="checkbox-holder bx-right">
        <input type="checkbox" [(ngModel)]="agreementCheckbox" (change)="checkagreement($event)" id="checkTPLAgreement" class="inp-checkbox" style="display: none">
        <label for="checkTPLAgreement" class="checkValidation">
          <span>
            <svg width="12px" height="10px" viewBox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </label>
      </div>
      <div class="col-xs-12 txt-justify bx-right">
        <h3 [innerHTML]="'checkout.tpl_condiation_policy' | translate"></h3>
      </div>
    </label>
  </div>
