<section class="sm-ver-spc bg-ofwhite section over-hidden">
    <div id="login-tabs" class="col-xs-12 col-lg-8 bx-center " [ngClass]="currentForm !== 'login' ? 'active-register' : ''">


      <app-login></app-login>
      <app-register></app-register>


      <div (click)="toggleLogin()" class="current-active bg-gr-main">
        <div class="register headoff active ">
          <h1 class="txt-white txt-lr no-mar txt-right" translate>
            account.login_title
          </h1>
          <p class="txt-white txt-md no-mar xs-mar-bot txt-right sm-mar-bot" translate>
            account.login_message
          </p>
          <a class="bx-left btn sm dis-block bg-white-hvr txt-brand-hvr bx-right md-mar txt-white txt-brand borderd txt-xs   circ-rdus l-shadow" translate>
            account.register_message_btn
          </a>
        </div>
        <div class="login headoff">
          <h1 class="txt-white txt-lr no-mar txt-right" translate>
            account.register_title
          </h1>
          <p class="txt-white txt-md   no-mar xs-mar-bot txt-right sm-mar-bot" translate>
            account.register_message
          </p>
          <a class="bx-left btn sm dis-block bg-white-hvr txt-brand-hvr bx-right md-mar txt-white txt-brand borderd txt-xs circ-rdus l-shadow" translate>
            account.login_btn
          </a>
        </div>
      </div>
    </div>
  </section>
