<!-- page title section -->
<div class="row">
  <div class="col-xs-12">
    <h4 class="page-header">{{ 'promotion.promotionDiscounts' | translate }}</h4>
  </div>
</div>

<!-- page search section -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" translate>common.filter_by</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="policy_number" translate>driver.nin</label>
              <input type="text" [(ngModel)]="discountFilter.nin" class="form-control" id="policy_number" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="invoiceNo" translate>requestLogs.mobile</label>
              <input type="text" [(ngModel)]="discountFilter.mobile" class="form-control" id="invoiceNo" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
            <button (click)="filterClick(promotionDiscountsTable)" class="btn btn-primary" style="margin-top: 20px;" translate>
              common.search
            </button>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
            <button (click)="showUploadingWindow()" class="btn btn-primary" style="margin-top: 20px;" translate>
              updateRequest.upload
            </button>
          </div>
        </div>
        <br />
        <div *ngIf="showEmptySearchValidation">
          <span class="uploadDiscountSheetFileValidation" [innerHtml]="emptyValidationTextToAdd">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- search result setion -->
<div class="row" [ngClass]="{'hidden': firstTime}">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div *ngIf="discountListingCount > 0" class="panel-heading">
        <a (click)="exportCsv()" class="pointer" translate>common.export</a>
        <div class="text-left">{{'common.results_count' | translate}} : {{discountListingCount}}</div>
      </div>
      <div class="panel-body">
        <p-table #promotionDiscountsTable
                [value]="discountListing"
                [lazy]="true"
                (onLazyLoad)="PromotionDiscountsLazyLoad($event)"
                [lazyLoadOnInit]="false"
                [totalRecords]="discountListingCount"
                [rowsPerPageOptions]="[5, 10, 20]"
                [loading]="loading"
                [paginator]="true"
                [rows]="10"
                [responsive]="true"
                scrollHeight="200px"
                [autoLayout]="true"
                [resizableColumns]="true">

          <ng-template pTemplate="header">
            <tr>
              <th translate> driver.nin </th>
              <th translate> user.name </th>
              <th translate> requestLogs.mobile </th>
              <th translate> policy.policy_expiry_date </th>
              <th translate>common.action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-promotionDiscount>
            <tr>
              <td style="word-wrap: break-word"> {{ promotionDiscount.nin || emptyStringValue }} </td>
              <td style="word-wrap: break-word"> {{ promotionDiscount.name || emptyStringValue }} </td>
              <td style="word-wrap: break-word"> {{ promotionDiscount.mobile || emptyStringValue }} </td>
              <td style="word-wrap: break-word"> {{ promotionDiscount.expiryDate || emptyStringValue }} </td>
              <td style="word-wrap: break-word;text-align: center">
                <button
                  (click)="DeleteDiscountRecord(promotionDiscount.id)" class="btn btn-info action-btn" translate>common.delete
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center">
                {{ "common.noRecordsFound" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- upload discounts sheet section -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display': openPpUp ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>updateRequest.upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeUploadingWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #uploadDiscountSheetFileForm="ngForm" (ngSubmit)="uploadPromotionDiscountsSheet()" novalidate>
        <div class="modal-body">
          <div class="form-group row">
            <input type="file" id="fileupload" accept=".xlsx, .xls, .csv" class="uploadDiscountSheetFileInput" name="fileupload" mode="basic"
                     (change)="handleReUploadFileInput($event, $event.target.files)" />
          </div>
          <div *ngIf="showUploadPromotionDiscountFileValidation">
            <span class="uploadDiscountSheetFileValidation" [innerHtml]="ploadPromotionDiscountFileValidationTextToAdd">
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeUploadingWindow()">Close</button>
          <button *ngIf="!uploading" [disabled]="showUploadPromotionDiscountFileValidation" type="submit" class="btn btn-primary" translate>
            insuranceCompany.save
          </button>

          <button *ngIf="uploading" type="submit" class="btn btn-primary" [disabled]="clicked" translate>
            promotion.uploading <i class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
