<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header text-center" translate>contact.ContactUs</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 translate>contact.ContactUs</h3>
          <p>We are here to answer any questions you may have about our experiences. Reach out to us and we'll respond as soon
            as we can.</p>
        </div>
      </div>
    </div>
    <!-- /.col-lg-10 -->
    <div class="col-lg-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 translate>contact.email</h4>
          <p>bcare@bcare.com</p>
          <h4 translate>contact.telephone</h4>
          <p>(xxx) xxxxxxxx</p>

          <div class="text-center">
            <a class="btn btn-social-icon btn-dropbox">
              <i class="fa fa-dropbox"></i>
            </a>
            <a class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-10 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
