<div class="row">
  <div class="col-xs-12">
    <h4 class="page-header">{{ 'navbar.vahicleMaker' | translate }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" translate>common.filter_by</div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="" translate>vahicleMaker.makerCode</label>
              <input type="text" [(ngModel)]="makerFilter.makerCode" class="form-control" id="makerCode" />
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label for="" translate>logs.description</label>
              <input type="text" [(ngModel)]="makerFilter.makerDescription" class="form-control" id="makerDescription" />
            </div>
          </div>
          <div class="col-xs-12 col-md-2">
            <button (click)="filterClick(ticketTable)" class="btn btn-primary" style="margin-top: 20px;" translate>
              common.search
            </button>
          </div>
        </div>
        <br />
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div>
  <h3>{{'vahicleMaker.makerModels' | translate}} :</h3>
  <button (click)="showMakerPopup()" class="btn btn-danger action-btn" style="float: left;margin-top: -40px;margin-left: 20%;">
    {{'vahicleMaker.addNewModel' | translate}}
  </button>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a (click)="exportCsv()" class="pointer" translate>common.export</a>
      <div class="text-left clearfix">
        {{'common.results_count' | translate}} : {{makersCount}}
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p-table #ticketTable
               [value]="makers"
               [lazy]="true"
               (onLazyLoad)="requestsLazyLoad($event)"
               [lazyLoadOnInit]="false"
               [totalRecords]="makersCount"
               [resetPageOnSort]="true"
               [rowsPerPageOptions]="[5, 10, 20]"
               [loading]="loading"
               [paginator]="true"
               [rows]="10"
               [responsive]="true"
               scrollHeight="200px"
               [autoLayout]="true"
               [resizableColumns]="true">
        <ng-template pTemplate="caption" class="panel-heading">
          <div style="text-align: right">
            <!-- <input class="form-control input-sm" type="text" pInputText placeholder="{{'common.search' | translate}}" (input)="reportsTable.filterGlobal($event.target.value, 'contains')"> -->
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate> vahicleMaker.makerCode </th>
            <th translate> vahicleMaker.descriptionEn </th>
            <th translate> vahicleMaker.descriptionAr </th>
            <th translate>common.action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-maker>
          <tr>
            <td style="word-wrap: break-word"> {{ maker.code || emptyStringValue }} </td>
            <td style="word-wrap: break-word"> {{ maker.englishDescription || emptyStringValue }} </td>
            <td style="word-wrap: break-word"> {{ maker.arabicDescription || emptyStringValue }} </td>
            <td style="word-wrap: break-word;text-align: center">
              <button type="button" routerLink="/admin/vehicleMaker/details/{{maker.code}}" routerLinkActive="active"
                      class="btn btn-secondary action-btn" translate>
                policy.details
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td style="text-align: center">
              {{ "common.noRecordsFound" | translate }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display': openPpUp ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>vahicleMaker.addNewModel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMakerModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #AddNewModelTemplate="ngForm" (ngSubmit)="AddMakerModel()" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="" class="lebel-for-required" translate>vahicleMaker.code</label>
                <input type="text" [(ngModel)]="newMaker.code" required class="form-control" id="code" name="code" #code="ngModel" />
                <div *ngIf="codeErrorDiv" class="text-danger"> {{ codeErrorDivMessage }} </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="" class="lebel-for-required" translate>vahicleMaker.descriptionEn</label>
                <input type="text" [(ngModel)]="newMaker.englishDescription" required class="form-control" id="englishDescription" name="englishDescription" #englishDescription="ngModel" />
                <!-- <div *ngIf="englishDescriptionErrorDiv" class="text-danger"> {{'common.required' | translate}} </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="" class="lebel-for-required" translate>vahicleMaker.descriptionAr</label>
                <input type="text" [(ngModel)]="newMaker.arabicDescription" required class="form-control" id="arabicDescription" name="arabicDescription" #arabicDescription="ngModel" />
                <!-- <div *ngIf="arabicDescriptionErrorDiv" class="text-danger"> {{'common.required' | translate}} </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeMakerModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!AddNewModelTemplate.valid || clicked" translate>
            insuranceCompany.save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
