th, td {
  text-align: center
}
input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.modal {
  background: rgba(90, 90, 90, 0.61);
}

.modal-dialog {
  margin-top: 200px;
}
