<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1 style="margin: 0">{{ 'settings.userPages' | translate }}</h1>
    </div>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6" style="float: left;">
    <select class="form-control" (change)="selectUser($event.target.value)">
      <option value="" selected disabled hidden translate>settings.chooseUser</option>
      <option *ngFor="let user of users | async" [value]="user.Id">{{user.Email}}</option>
    </select>
  </div>
</div>
<section class="inputs-section" [ngClass]="{'loading' : loading}">
  <div class="row" *ngIf="userId">
    <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let page of pages">
      <label [for]="page.Id" class="form-control" style="margin-bottom: 10px">
        <p-checkbox [inputId]="page.Id" name="pages" [value]="page.Id" [label]="page['bind.pageTitle'| translate]"
          [(ngModel)]="selectedValues"></p-checkbox>
      </label>
    </div>
    <div class="col-xs-12">
      <button type="submit" (click)="save()" class="btn btn-primary" translate>insuranceCompany.save</button>
    </div>
  </div>
  <div class="loader-container" *ngIf="loading">
    <app-loader></app-loader>
  </div>
</section>
